<div class="container my-5">
    <h1>LIST</h1>
    <div class="row">
    {{#if characters.length}} 
        {{#each characters as |char|}}
            <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center character" data-id="{{char.id}}">
                <div class="card shadow bg-body rounded" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{char.name}}</h5>
                    <p class="card-text">{{char.occupation}}</p>
                    <h4 class="card-title">{{char.weapon}}</h4>
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-danger remove" data-id="{{char.id}}">Remove</a>
                    </div>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
    <p>There are no character at the moment. Please create one.</p>
    {{/if}}
    </div>
</div>
<script>
  const removeNodes = document.querySelectorAll('.remove');
  for(let node of removeNodes) {
    node.addEventListener('click', () => {
      const nodeId = node.dataset.id;
      document.querySelector(`.character[data-id="${nodeId}"]`).remove();
      axios.delete(`/character/${nodeId}`)
        .then(responseFromApi => {
          if(responseFromApi.status == 204) {
            document.querySelector(`.character[data-id="${nodeId}"]`).remove();
          }
        })
        .catch(error => console.log('Error!', error))
    })
  }
</script>